In [22]:
# get data
import pandas as pd
from sqlalchemy import create_engine, inspect

# Create an SQLite engine
engine = create_engine('sqlite:///../../data/ESNQ_DB.db')

table_names = inspect(engine).get_table_names()
print(table_names)
ticker = 'ES5M'
df = pd.read_sql(ticker, engine)

['ES1M', 'ES30M', 'ES5M', 'NQ1M', 'NQ30M', 'NQ5M']

In [23]:
df

# pre option on df
df['datetime'] = pd.to_datetime(df['datetime'])
df.set_index('datetime', inplace=True)
df.drop(['index','symbol','volume'], axis=1, inplace=True)
df.tail()

                         open      high       low     close
datetime
2024-08-30 15:55:00  19596.00  19596.00  19591.75  19594.00
2024-08-30 15:56:00  19594.00  19597.25  19593.50  19596.25
2024-08-30 15:57:00  19596.25  19597.75  19594.00  19594.75
2024-08-30 15:58:00  19595.00  19596.00  19591.75  19594.00
2024-08-30 15:59:00  19593.75  19596.25  19593.75  19594.50

In [11]:

# df = df[-500:]
print(df.info())

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 76391 entries, 2024-06-02 17:00:00 to 2024-08-30 15:59:00
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    76391 non-null  float64
 1   high    76391 non-null  float64
 2   low     76391 non-null  float64
 3   close   76391 non-null  float64
dtypes: float64(4)
memory usage: 2.9 MB
None

In [13]:
!pip install pandas_ta

Requirement already satisfied: pandas_ta in c:\users\wangq\workspace\learntorch\env\lib\site-packages (0.3.14b0)
Requirement already satisfied: pandas in c:\users\wangq\workspace\learntorch\env\lib\site-packages (from pandas_ta) (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in c:\users\wangq\workspace\learntorch\env\lib\site-packages (from pandas->pandas_ta) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\wangq\workspace\learntorch\env\lib\site-packages (from pandas->pandas_ta) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\wangq\workspace\learntorch\env\lib\site-packages (from pandas->pandas_ta) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\wangq\workspace\learntorch\env\lib\site-packages (from pandas->pandas_ta) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\wangq\workspace\learntorch\env\lib\site-packages (from python-dateutil>=2.8.2->pandas->pandas_ta) (1.16.0)

In [15]:
!pip install --upgrade setuptools

Collecting setuptools
  Using cached setuptools-75.1.0-py3-none-any.whl.metadata (6.9 kB)
Using cached setuptools-75.1.0-py3-none-any.whl (1.2 MB)
Installing collected packages: setuptools
Successfully installed setuptools-75.1.0

In [16]:
import pandas as pd
import pandas_ta as ta

# Create a new strategy with Stochastic RSI and MACD, with all time parameters multiplied by 5
strategy = ta.Strategy(
    name="ModifiedStrategy",
    ta=[
        {"kind": "stochrsi", "length": 70, "rsi_length": 70, "k": 35, "d": 35},  # Default 14 * 5
        {"kind": "macd", "fast": 12, "slow": 26, "signal": 9},  # Default (12, 26, 9)
        {"kind": "macd", "fast": 60, "slow": 130, "signal": 45}  # Default (12, 26, 9) * 5
    ]
)

In [17]:
%timeit
# Apply the strategy to your dataframe
df.ta.strategy(strategy)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 76391 entries, 2024-06-02 17:00:00 to 2024-08-30 15:59:00
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   open                   76391 non-null  float64
 1   high                   76391 non-null  float64
 2   low                    76391 non-null  float64
 3   close                  76391 non-null  float64
 4   STOCHRSIk_70_70_35_35  76218 non-null  float64
 5   STOCHRSId_70_70_35_35  76184 non-null  float64
 6   MACD_12_26_9           76366 non-null  float64
 7   MACDh_12_26_9          76358 non-null  float64
 8   MACDs_12_26_9          76358 non-null  float64
 9   MACD_60_130_45         76262 non-null  float64
 10  MACDh_60_130_45        76218 non-null  float64
 11  MACDs_60_130_45        76218 non-null  float64
dtypes: float64(12)
memory usage: 7.6 MB
None

In [18]:
df

,open,high,low,close,STOCHRSIk_70_70_35_35,STOCHRSId_70_70_35_35,MACD_12_26_9,MACDh_12_26_9,MACDs_12_26_9,MACD_60_130_45,MACDh_60_130_45,MACDs_60_130_45
datetime,,,,,,,,,,,,
2024-06-02 17:00:00,18590.25,18598.50,18576.00,18595.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-06-02 17:01:00,18594.25,18597.00,18587.75,18587.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-06-02 17:02:00,18588.50,18588.50,18562.25,18564.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-06-02 17:03:00,18563.75,18567.50,18557.25,18560.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-06-02 17:04:00,18560.50,18564.50,18553.75,18553.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2024-08-30 15:55:00,19596.00,19596.00,19591.75,19594.00,43.408592,53.694550,-1.450110,-0.536977,-0.913133,24.540694,-2.903734,27.444428
2024-08-30 15:56:00,19594.00,19597.25,19593.50,19596.25,42.603316,53.097305,-1.439179,-0.420837,-1.018342,24.227260,-3.077291,27.304551
2024-08-30 15:57:00,19596.25,19597.75,19594.00,19594.75,41.709386,52.443544,-1.533872,-0.412424,-1.121448,23.890324,-3.265782,27.156107
2024-08-30 15:58:00,19595.00,19596.00,19591.75,19594.00,40.486419,51.723180,-1.650411,-0.423170,-1.227241,23.544313,-3.454760,26.999072
2024-08-30 15:59:00,19593.75,19596.25,19593.75,19594.50,39.069102,50.944436,-1.683022,-0.364625,-1.318397,23.211729,-3.622676,26.834405

In [19]:

# Create a trading signal
df["signal"] = 0
# df.loc[(df["STOCHRSIk_70_70_35_35"] < 20) & (df["MACD_60_130_45"] > df["MACDs_60_130_45"]), "signal"] = 1  # Buy signal
# df.loc[(df["STOCHRSIk_70_70_35_35"] > 80) & (df["MACD_60_130_45"] < df["MACDs_60_130_45"]), "signal"] = -1  # Sell signal

df.loc[(df["MACD_60_130_45"] > df["MACDs_60_130_45"]), "signal"] = 1  # Buy signal
df.loc[(df["MACD_60_130_45"] < df["MACDs_60_130_45"]), "signal"] = -1  # Sell signal

In [20]:
print(df.signal.value_counts())

signal
-1    38587
 1    37631
 0      173
Name: count, dtype: int64